body {
  margin: 0;
  background-color: #e4e3e3;
}

.app {
  width: 50%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
  height: 38.5rem;
  max-height: 38.5rem;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

.button-form {
  font: inherit;
  background-color: #26edb1 !important;
  color: white;
  border: 1px solid #26edb1;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}